[Desktop Entry]
Encoding=UTF-8
Name=Castle
Comment=Castle P2P Cryptocurrency
Comment[fr]=Castle, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Castle, eşten eşe kriptografik sanal para birimi
Exec=castle-qt %u
Terminal=false
Type=Application
Icon=castle128
MimeType=x-scheme-handler/castle;
Categories=Office;Finance;
